<template>
  <div class="hero">
    <div class="hero-section">
      <div class="hero-left">
        <div class="hero-content">
          <h1 class="hero-heading">
            {{ heroHeading }}
          </h1>
          <div class="hero-subtitle-p">
            <span class="hero-subtitle">
              {{ heroSubtitle }}
            </span>
          </div>
        </div>
        <a class="explore-cta"
          ><button class="explore">
            <div class="button-text">
              <p class="label-explore">{{ labelCta }}</p>
            </div>
          </button></a
        >
      </div>
      <div class="hero-right">
        <div class="img-oss-logos">
          <img
            alt=""
            class="tailwind"
            src="https://static.overlay-tech.com/assets/cae00b3e-dbdd-4cf1-8a8d-55d727eb0461.svg"
          />
          <div class="flex-wrapper-one">
            <img
              alt=""
              class="open-collective"
              src="https://static.overlay-tech.com/assets/19088482-d5cc-466b-a2f6-d7fc259ee64a.svg"
            /><img
              alt=""
              class="img-typescript"
              src="https://static.overlay-tech.com/assets/952ae3f8-8e38-48d6-b507-83baedc245af.png"
            />
            <div class="img-github">
              <img
                alt=""
                src="https://static.overlay-tech.com/assets/01a66cd0-1062-4c12-879d-5f0ce1776481.svg"
              />
            </div>
          </div>
          <div class="flex-wrapper-two">
            <img
              alt=""
              class="image-10"
              src="https://static.overlay-tech.com/assets/fe91c62f-472f-44b2-a1ff-b624fe90605c.png"
            /><img
              alt=""
              class="img-logo"
              src="https://static.overlay-tech.com/assets/80173ff4-dbb8-4125-b077-18efd7d3a222.png"
            /><img
              alt=""
              class="nuxt"
              src="https://static.overlay-tech.com/assets/402e6e6e-81ed-47f4-b8b1-523bd051683a.svg"
            /><img
              alt=""
              class="css3"
              src="https://static.overlay-tech.com/assets/f04ffb3b-2308-4200-96cc-49c576886764.svg"
            />
          </div>
          <img
            alt=""
            class="gitlab"
            src="https://static.overlay-tech.com/assets/ade17c8c-441a-45b1-ba8e-664545da63b0.svg"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    heroHeading: {
      type: String,
      default: "Open software. Open education.",
    },
    heroSubtitle: {
      type: String,
      default:
        "We envision a world of empowered professionals collaboratively creating open source software that we can trust, love, and learn from. ",
    },
    labelCta: { type: String, default: "Explore" },
  },
};
</script>

<style scoped>
*,
*::before,
*::after {
  box-sizing: content-box;
}

.hero {
  background-color: var(--primary-1);
  padding: 134px 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-section {
  display: flex;
  align-items: flex-end;
}
.hero-left {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 582px;
}
.hero-content {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
}

.hero-heading {
  margin-bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--tailwind-grey);
  flex: 1;
  letter-spacing: -1.92px;
  font-family: var(--heading-1-desktop-family);
  font-size: 48px;
  font-weight: var(--heading-1-desktop-weight);
  line-height: var(--heading-1-desktop-line-height);
}
.hero-subtitle-p {
  padding: 10px;
  display: flex;
  align-items: center;
  align-self: stretch;
}
.hero-subtitle {
  color: var(--tailwind-grey);
  flex: 1;
  letter-spacing: 0.27px;
  font-family: var(--subtitle-1-desktop-family);
  font-size: var(--subtitle-1-desktop-size);
  font-weight: var(--subtitle-1-desktop-weight);
  line-height: var(--subtitle-1-desktop-line-height);
}
.explore-cta {
  padding: 10px 10px 10px 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.explore {
  background-color: var(--accent-1);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.button-text {
  border-radius: 5px;
  padding: 24px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 26px;
  border: 3px solid var(--accent-1);
}
.label-explore {
  color: var(--primary-1);
  flex: 1;
  text-align: center;
  letter-spacing: -0.4px;
  font-family: var(--card-cta-text-desktop-family);
  font-size: var(--card-cta-text-desktop-size);
  font-weight: var(--card-cta-text-desktop-weight);
  line-height: var(--card-cta-text-desktop-line-height);
}
.hero-right {
  background-color: var(--primary-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.img-oss-logos {
  padding: 24px 32.21px 14.11px 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tailwind {
  margin-bottom: 24.25px;
  margin-left: 268px;
}
.flex-wrapper-one {
  margin-bottom: 77px;
  padding: 0 0 0 4px;
  display: flex;
  align-items: flex-start;
}
.open-collective {
  margin-right: 164.06px;
}
.img-typescript {
  margin-top: 27.85px;
  margin-right: 142px;
}
.img-github {
  background-color: var(--primary-1);
  margin-top: 52.85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-two {
  margin-bottom: 89.37px;
  display: flex;
  align-items: flex-start;
}
.image-10 {
  margin-top: 48px;
  margin-right: 139px;
}
.img-logo {
  margin-right: 15px;
}
.nuxt {
  margin-top: 99px;
  margin-right: 102.12px;
}
.css3 {
  margin-top: 87px;
}
.gitlab {
  margin-left: 184.04px;
}
</style>
