<template>
  <div class="project-card">
    <img
      alt=""
      class="project-card-image-img"
      src="https://static.overlay-tech.com/assets/ce9ce5c5-52c3-426c-9151-27995488d399.png"
    />
    <div class="card-content-container-two">
      <div class="card-content-container">
        <p class="card-content-title-h4">Focused Browsing</p>
        <p class="card-content-subtitle-p">
          Focused Browsing is a web extension that returns to you control over
          whether or not you want to browse the internet without disrupting your
          focus.
        </p>
      </div>
      <button class="card-cta-btn">
        <p class="card-cta-label">Read more</p>
        <img
          alt=""
          src="https://static.overlay-tech.com/assets/58fc2ca8-cfb4-4cc6-9e42-d559cba142c0.svg"
        />
      </button>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.project-card {
  background-color: var(--primary-1);
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 10px 0 var(--transparent-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.project-card-image-img {
  margin-bottom: 64px;
}
.card-content-container-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-content-container {
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-content-title-h4 {
  width: 468px;
  color: var(--tailwind-grey);
  margin-bottom: 30px;
  font-family: var(--heading-4-desktop-family);
  font-size: var(--heading-4-desktop-size);
  font-weight: var(--heading-4-desktop-weight);
  line-height: var(--heading-4-desktop-line-height);
}
.card-content-subtitle-p {
  height: 81px;
  width: 468px;
  color: var(--text-1);
  display: flex;
  letter-spacing: 0.24px;
  font-family: var(--subtitle-2-desktop-family);
  font-size: var(--subtitle-2-desktop-size);
  font-weight: var(--subtitle-2-desktop-weight);
  line-height: var(--subtitle-2-desktop-line-height);
}
.card-cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card-cta-label {
  color: var(--tailwind-grey);
  margin-right: 8px;
  font-family: var(--card-cta-text-desktop-family);
  font-size: var(--card-cta-text-desktop-size);
  font-weight: var(--card-cta-text-desktop-weight);
  line-height: var(--card-cta-text-desktop-line-height);
}
</style>